;────────────────────────────────────────────────────────────────────────────────────────────
;
;  left side
;
; ── row 1 ───────────────────────────────────────
[:##1                   :vk_none] ;     x -> q              vk_none
[:##2                   :vk_none] ;     x -> w              vk_none
[:##3                   :vk_none] ;     x -> e              vk_none
[:##4                   :vk_none] ;     x -> r              vk_none
[:##5                   :vk_none] ;     x -> t              vk_none
; ── row 2 ───────────────────────────────────────
[:##q                   :vk_none] ;     x -> a              vk_none
[:##w                   :vk_none] ;     x -> s              vk_none
[:##e                   :vk_none] ;     x -> d              vk_none
[:##r                   :vk_none] ;     x -> f              vk_none
[:##t                   :vk_none] ;     x -> g              vk_none
; ── row 3 ───────────────────────────────────────
[:##a                   :vk_none] ;     x -> z              vk_none
[:##s                   :vk_none] ;     x -> x              vk_none
[:##d                   :vk_none] ;     x -> c              vk_none
[:##f                   :vk_none] ;     x -> v              vk_none
[:##g                   :vk_none] ;     x -> b              vk_none
; ── row 4 ───────────────────────────────────────
[:##x                   :vk_none] ;     x -> layer-1        vk_none
[:##c                   :vk_none] ;     x -> layer-2        vk_none
[:##v                   :vk_none] ;     x -> layer-3        vk_none
; ────────────────────────────────────────────────
;
;  right side
;
; ── row 1 ───────────────────────────────────────
[:##8                   :vk_none] ;     x -> y              vk_none
[:##9                   :vk_none] ;     x -> u              vk_none
[:##0                   :vk_none] ;     x -> i              vk_none
[:##hyphen              :vk_none] ;     x -> o              vk_none
[:##equal_sign          :vk_none] ;     x -> p              vk_none
; ── row 2 ───────────────────────────────────────
[:##u                   :vk_none] ;     x -> h              vk_none
[:##i                   :vk_none] ;     x -> j              vk_none
[:##o                   :vk_none] ;     x -> k              vk_none
[:##p                   :vk_none] ;     x -> l              vk_none
[:##open_bracket        :vk_none] ;     x -> '              vk_none
; ── row 3 ───────────────────────────────────────
[:##j                   :vk_none] ;     x -> n              vk_none
[:##k                   :vk_none] ;     x -> m              vk_none
[:##l                   :vk_none] ;     x -> ,              vk_none
[:##semicolon           :vk_none] ;     x -> .              vk_none
[:##quote               :vk_none] ;     x -> /              vk_none
; ── row 4 ───────────────────────────────────────
[:##m                   :vk_none] ;     x -> layer-4        vk_none
[:##comma               :vk_none] ;     x -> layer-5        vk_none
[:##period              :vk_none] ;     x -> layer-6        vk_none
; ────────────────────────────────────────────────────────────────────────────────────────────