{

 :devices {:keychron_k2v2 [{:product_id 591 :vendor_id 1452}]}

 :profiles {
  :goku {
    :default true
    ;; :sim     50
    :delay   50
    :held    50
    ;; :alone   250
    ;;
    ;; :default true ; mod taps profile
    ;; :sim     50 ; simultaneous_threshold_milliseconds (def: 50) -- different from simlayers, this is for cases like [:a :b]
    ;; :delay   210 ; to_delayed_action_delay_milliseconds -- NOTE: this should be equal to :held for mod-tap layers
    ;; :held    210 ; to_if_held_down_threshold_milliseconds (def: 500) -- NOTE: this should be equal to :delay for mod-tap layers
    ;; :alone   209 ; to_if_alone_timeout_milliseconds (def: 1000) -- NOTE: (i think) this must be just less than the delay / held value to avoid bug where mod-tap layer stays 1
    ;;
    ;; :default true ; kiinoda profile
    ;; :sim      200 ; keys need to be pressed within this threshold to be considered simultaneous
    ;; :simlayer-threshold 250 ; ???????
    ;; :alone    250 ; hold for 495ms and single tap registered; hold for 505ms and seen as modifier
    ;; :delay    300 ; time after which the key press is count delayed
    ;; :held     450 ; key is fired twice when 1000 ms is elapsed (otherwise seen as a hold command)
  }
 }

 :froms {
  ;; ─────────────────────────────────────────────────────────────────────────────
  ;;
  ;;      mapping of original keymap (keychron-k2v2 - config used by me)
  ;;
  ;;      1   2   3   4   5       8   9   0   -   =
  ;;      q   w   e   r   t       u   i   o   p   [
  ;;      a   s   d   f   g       j   k   l   ;   '
  ;;              x   c   v       m   ,   .
  ;;
  ;; ─────────────────────────────────────────────────────────────────────────────
  ;;
  ;;      to -- mapped keymap
  ;;
  ;;      q   w   f   p   b       j   l   u   y   '
  ;;      a   r   s   t   g       m   n   e   i   o
  ;;      z   x   c   d   v       k   h   ,   .   /
  ;;              esc spc tab     rtn del dfw
  ;;
  ;; ─────────────────────────────────────────────────────────────────────────────

  :any_key {:any :key_code}
  :any_consumer {:any :consumer_key_code }

  ;────────────────────────────────────────────────────────────────────────────────────────────
  ;
  ;  left side
  ;
  ; ── row 1 ───────────────────────────────────────────────────────────────────────────
  :-q                     {:key :##1}
  :-w                     {:key :##2}
  :-f                     {:key :##3}
  :-p                     {:key :##4}
  :-b                     {:key :##5}
  ; ── row 2 ───────────────────────────────────────────────────────────────────────────
  :-a                     {:key :##q}
  :-r                     {:key :##w}
  :-s                     {:key :##e}
  :-t                     {:key :##r}
  :-g                     {:key :##t}
  ; ── row 3 ───────────────────────────────────────────────────────────────────────────
  :-z                     {:key :##a}
  :-x                     {:key :##s}
  :-c                     {:key :##d}
  :-d                     {:key :##f}
  :-v                     {:key :##g}
  ; ── row 4 ───────────────────────────────────────────────────────────────────────────
  :-escape                {:key :##x}
  :-spacebar              {:key :##c}
  :-tab                   {:key :##v}

  ;────────────────────────────────────────────────────────────────────────────────────────────
  ;
  ;  right side
  ;
  ; ── row 1 ───────────────────────────────────────────────────────────────────────────
  :-j                     {:key :##8}
  :-l                     {:key :##9}
  :-u                     {:key :##0}
  :-y                     {:key :##hyphen}
  :-quote                 {:key :##equal_sign}
  ; ── row 2 ───────────────────────────────────────────────────────────────────────────
  :-m                     {:key :##u}
  :-n                     {:key :##i}
  :-e                     {:key :##o}
  :-i                     {:key :##p}
  :-o                     {:key :##open_bracket}
  ; ── row 3 ───────────────────────────────────────────────────────────────────────────
  :-k                     {:key :##j}
  :-h                     {:key :##k}
  :-comma                 {:key :##l}
  :-period                {:key :##semicolon}
  :-slash                 {:key :##quote}
  ; ── row 4 ───────────────────────────────────────────────────────────────────────────
  :-return_or_enter       {:key :##m}
  :-delete_or_backspace   {:key :##comma}
  :-delete_forward        {:key :##period}
 }

 :tos {
    ;; :-f1  {:key :volume_decrement}
    ;; :-f2  {:key :rewind}
    ;; :-f3  {:key :play_or_pause}
    ;; :-f4  {:key :fastforward}
    ;; :-f5  {:key :volume_increment}
    ;; :-f6  {:key :mute}
    ;; :-f7  {:key :display_brightness_decrement}
    ;; :-f8  {:key :display_brightness_increment}
    ;; :-f9  {:key :vk_none}
    ;; :-f10 {:key :vk_none}
    ;; :-f11 {:key :vk_none}
    ;; :-f12 {:key :vk_none}
 }

 :main [
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "Base characters" :rules
         [;
          ;
          ; NOTE: use the mappings from "froms" to map all keys
          ;
          ;
          ;; ───────────────────────────────
          ;;
          ;; left side
          ;;
          ;;
          [:-q                          :q]
          [:-w                          :w]
          [:-f                          :f]
          [:-p                          :p]
          [:-b                          :b]
          ;; ───────────────────────────────
          [:-a                          :a]
          [:-r                          :r]
          [:-s                          :s]
          [:-t                          :t]
          [:-g                          :g]
          ;; ───────────────────────────────
          [:-z                          :z]
          [:-x                          :x]
          [:-c                          :c]
          [:-d                          :d]
          [:-v                          :v]
          ;;  ───────────────────────────────
          [:-escape                     :escape]
          [:-spacebar                   :spacebar]
          [:-tab                        :tab]

          ;;  ───────────────────────────────
          ;;
          ;; right side
          ;;
          ;;
          [:-j                          :j]
          [:-l                          :l]
          [:-u                          :u]
          [:-y                          :y]
          [:-quote                      :quote]
          ;; ───────────────────────────────
          [:-m                          :m]
          [:-n                          :n]
          [:-e                          :e]
          [:-i                          :i]
          [:-o                          :o]
          ;; ───────────────────────────────
          [:-k                          :k]
          [:-h                          :h]
          [:-comma                      :comma]
          [:-period                     :period]
          [:-slash                      :slash]
          ;; ───────────────────────────────
          [:-return_or_enter            :return_or_enter]
          [:-delete_or_backspace        :delete_or_backspace]
          [:-delete_forward             :delete_forward]

          ; ignore another keys
          [:any_key :vk_none]
          [:any_consumer :vk_none]
          ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
       ]
 }
;;
;;
;;
;;
;;
;; ─────────────────────────────────────────────────────────────────────────────
;; ─────────────────────────────────────────────────────────────────────────────
;;
;;  how to make logs:
;;
;;      console.log("ctrl") -> [:noti :noti-id "ctrl"] (use [:noti :noti-id] to clear after use)
;;
;; ─────────────────────────────────────────────────────────────────────────────
;;
;; rule [:period ["media-mode" 1] nil {:afterup ["media-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>
;;
;; ─────────────────────────────────────────────────────────────────────────────
;;
;;  commands:
;;
;;      !  | means mandatory
;;      #  | means optional
;;      C  | left_command
;;      T  | left_control
;;      O  | left_option
;;      S  | left_shift
;;      F  | fn
;;      Q  | right_command
;;      W  | right_control
;;      E  | right_option
;;      R  | right_shift
;;      P  | caps_lock
;;      !! | mandatory command + control + optional + shift (hyper)
;;      ## | optional any
;;
;; ─────────────────────────────────────────────────────────────────────────────
;; ─────────────────────────────────────────────────────────────────────────────