;; ─────────────────────────────────────────────────────────────────────────────
;;
;;      original keymap
;;
;;      1       2       3       4       5               8       9       0       hyphen          equal_sign
;;      q       w       e       r       t               u       i       o       p               open_bracket
;;      a       s       d       f       g               j       k       l       semicolon       quote
;;                      x       c       v               m       comma   period
;;
;; ─────────────────────────────────────────────────────────────────────────────

;;  x -> layer-1
;;  c -> layer-2
;;  v -> layer-3
;;  m -> layer-4
;;  , -> layer-5
;;  . -> layer-6

;; ─────────────────────────────────────────────────────────────────────────────

{;;
 ;; only map for external-keyboard Keychron K2 v2
 :devices {:only-keychron [{:product_id 591 :vendor_id 1452}]}

 :main [;;
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "Layer 1"
         :rules [:only-keychron
                 ;
                 ; turn on layer-1 when keep pressed x -- if alone = escape
                 [:x ["layer-1" 1] nil {:afterup ["layer-1" 0] :alone :escape}]
                 ;;
                 :layer-1
                 ;
                 ; left side
                 ;
                 [:##1 :vk_none] ;
                 [:##2 :vk_none] ;
                 [:##3 :vk_none] ;
                 [:##4 :vk_none] ;
                 [:##5 :vk_none] ;
                 ;
                 [:##q :a] ; super
                 [:##w :a] ; alt
                 [:##e :a] ; ctrl
                 [:##r :a] ; shift
                 [:##t :vk_none] ;
                 ;
                 [:##a :vk_none] ;
                 [:##s :vk_none] ;
                 [:##d :vk_none] ;
                 [:##f :vk_none] ;
                 [:##g :vk_none] ;
                 ;
                 ;;[:##x :vk_none] ;
                 [:##c :vk_none] ;
                 [:##v :vk_none] ;
                 ;
                 ; right side
                 ;
                 [:##8 :a] ; rgb toggle (combine with shift for rgb-off)
                 [:##9 :a] ; rgb mode
                 [:##0 :a] ; rgb hue
                 [:##hyphen :a] ; rgb saturation
                 [:##equal_sign :a] ; rgb value
                 ;
                 [:##u :a] ; external power toggle (combine with shift for ep-tog-off)
                 [:##i :a] ; previous
                 [:##o :a] ; - volume
                 [:##p :a] ; + volume
                 [:##open_bracket :a] ; next
                 ;
                 [:##j :a] ; output toggle (combine with shift for output-usb)
                 [:##k :a] ; bt 0
                 [:##l :a] ; bt 1
                 [:##semicolon :a] ; bt 2
                 [:##quote :a] ; bt 3
                 ;
                 [:##m :a] ; stop
                 [:##comma :a] ; play/pause
                 [:##period :a] ; mute
                 ;
                 ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "Layer 2"
         :rules [:only-keychron
                 ;
                 ; turn on layer-2 when keep pressed c -- if alone = spacebar
                 [:c ["layer-2" 1] nil {:afterup ["layer-2" 0] :alone :spacebar}]
                 ;;
                 :layer-2
                 [:##8 :1] ;    c -> y          1
                 [:##9 :2] ;    c -> u          2
                 ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "map all basic keys on keychron k2 v2" :rules
         [:only-keychron
          ;;
          ;; left side
          ;;
          [:1 :q]
          [:2 :w]
          [:3 :e]
          [:4 :r]
          [:5 :t]
          ;;
          [:q :a]
          [:w :s]
          [:e :d]
          [:r :f]
          [:t :g]
          ;;
          [:a :z]
          [:s :x]
          [:d :c]
          [:f :v]
          [:g :b]
          ;;
          ;; right side
          ;;
          [:8 :y]
          [:9 :u]
          [:0 :i]
          [:hyphen :o]
          [:equal_sign :p]
          ;;
          [:u :h]
          [:i :j]
          [:o :k]
          [:p :l]
          [:open_bracket :quote]
          ;;
          [:j :n]
          [:k :m]
          [:l :comma]
          [:semicolon :period]
          [:quote :slash]
          ;;
          ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        ]}
;;
;;
;;
;;
;;
;; ─────────────────────────────────────────────────────────────────────────────
;; ─────────────────────────────────────────────────────────────────────────────
;;
;;  logs:
;;
;;      console.log("ctrl") -> [:noti :layers "ctrl"]
;;
;; ─────────────────────────────────────────────────────────────────────────────
;;
;;  commands:
;;
;;      !  | means mandatory
;;      #  | means optional
;;      C  | left_command
;;      T  | left_control
;;      O  | left_option
;;      S  | left_shift
;;      F  | fn
;;      Q  | right_command
;;      W  | right_control
;;      E  | right_option
;;      R  | right_shift
;;      P  | caps_lock
;;      !! | mandatory command + control + optional + shift (hyper)
;;      ## | optional any
;;
;; ─────────────────────────────────────────────────────────────────────────────
;;
;;  all keycodes:
;;
;;      https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj
;;
;; ─────────────────────────────────────────────────────────────────────────────
;; ─────────────────────────────────────────────────────────────────────────────