{;;
 ;; only map for external-keyboard Keychron K2 v2
 :devices {:only-keychron [{:product_id 591 :vendor_id 1452}]}

 :simlayers {:layer-1 {:key :x}
             :layer-2 {:key :c}}

 :main [;;

        ;; TODO: make work layers with custom mapping

        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "map all keys on keychron k2 v2" :rules
         [:only-keychron
          ;;
          ;; left side
          ;;
          ;;[:x :keypad_1] ; layer-1
          [:c :keypad_2] ; layer-2
          ;;
          ;; right side
          ;;
          ;;[:8 :y]
          [:9 :u]
          ;;
          ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "test layer 1"
         :rules [:layer-1
                 [:##8 :1] ; x+8 -> 1 ; work
                 [:##9 :2] ; x+9 -> 2 ; work
                 ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        {:des "test layer 2"
         :rules [:layer-2
                 [:##8 :3] ; c+8 -> 3 ; not work
                 [:##9 :4] ; c+9 -> 4 ; not work
                 ]}
        ;; ─────────────────────────────────────────────────────────────────────────────
        ]}

