;NOTE: When adding a new layer, if you want it to be able to cross with an old one, you must add the name negated (:!new_name) to all other mod-tap layer conditions
        ;; ─────────────────────────────────────────────────────────────────────────────
        { :des "modifier layers" :rules [
          ;────────────────────────────────────────────────────────────────────────────────────────────
          ;
          ;  right side
          ;
          ; ── layer_1 (numbers and symbols) ───────────────────────────────────────────────────────────────────────────
           [:-l1 nil [
              :!layer_2 ;without :!layer_1
            ] {:held {:set [
            "layer_1" 1] :repeat false} :afterup {:set [
            "layer_1" 0]}}]

          ; ── layer_2 (fn layer) ───────────────────────────────────────────────────────────────────────────
           [:-l2 nil [
              :!layer_1 ;without :!layer_2
            ] {:held {:set [
            "layer_2" 1] :repeat false} :afterup {:set [
            "layer_2" 0]}}]

          ]
         }
        ;; ─────────────────────────────────────────────────────────────────────────────

        ;; ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

        ;; ─────────────────────────────────────────────────────────────────────────────
        { :des "layer_1 - (numbers and symbols)" :rules
         [
          [:condi :layer_1]

          ;────────────────────────────────────────────────────────────────────────────────────────────
          ;
          ;  left side
          ;
          ; ── row 1 ───────────────────────────────────────────────────────────────────────────
          [:-q                          :1];                                    layer_1 -> q
          [:-w                          :2];                                    layer_1 -> w
          [:-e                          :3];                                    layer_1 -> e
          [:-r                          :4];                                    layer_1 -> r
          [:-t                          :5];                                    layer_1 -> t
          ; ── row 2 ───────────────────────────────────────────────────────────────────────────
          [:-a                          :grave_accent_and_tilde];               layer_1 -> a
         ;[:-s                          :vk_none];                              layer_1 -> s
         ;[:-d                          :vk_none];                              layer_1 -> d
         ;[:-f                          :vk_none];                              layer_1 -> f
         ;[:-g                          :vk_none];                              layer_1 -> g
          ; ── row 3 ───────────────────────────────────────────────────────────────────────────
         ;[:-z                          :vk_none];                              layer_1 -> z
         ;[:-x                          :vk_none];                              layer_1 -> x
         ;[:-c                          :vk_none];                              layer_1 -> c
         ;[:-v                          :vk_none];                              layer_1 -> v
         ;[:-b                          :vk_none];                              layer_1 -> b
          ; ── row 4 ───────────────────────────────────────────────────────────────────────────
          [:-left_shift                 :left_shift];                           layer_1 -> shf
          [:-l2                         :spacebar];                             layer_1 -> l2
          [:-left_command               :left_command];                         layer_1 -> cmd

          ;────────────────────────────────────────────────────────────────────────────────────────────
          ;
          ;  right side
          ;
          ; ── row 1 ───────────────────────────────────────────────────────────────────────────
          [:-y                          :6];                                    layer_1 -> y
          [:-u                          :7];                                    layer_1 -> u
          [:-i                          :8];                                    layer_1 -> i
          [:-o                          :9];                                    layer_1 -> o
          [:-p                          :0];                                    layer_1 -> p
          ; ── row 2 ───────────────────────────────────────────────────────────────────────────
          [:-h                          :left_arrow];                           layer_1 -> h
          [:-j                          :down_arrow];                           layer_1 -> j
          [:-k                          :up_arrow];                             layer_1 -> k
          [:-l                          :right_arrow];                          layer_1 -> l
          [:-quote                      :semicolon];                            layer_1 -> '
          ; ── row 3 ───────────────────────────────────────────────────────────────────────────
          [:-n                          :hyphen];                               layer_1 -> n
          [:-m                          :equal_sign];                           layer_1 -> m
          [:-comma                      :open_bracket];                         layer_1 -> ,
          [:-period                     :close_bracket];                        layer_1 -> .
          [:-slash                      :backslash];                            layer_1 -> /
          ; ── row 4 ───────────────────────────────────────────────────────────────────────────
          [:-left_option                :left_option];                          layer_1 -> opt
         ;[:-l1                         :vk_none];                              layer_1 -> l1   (already used by this layer)
          [:-left_control               :left_control];                         layer_1 -> ctr

          ; ────────────────────────────────────────────────────────────────────────────────────
          ; ignore another keys
          [:any_key :vk_none]
          [:any_consumer :vk_none]
         ]}
        ;; ─────────────────────────────────────────────────────────────────────────────

        ;; ─────────────────────────────────────────────────────────────────────────────
        { :des "layer_2 - (fn layer)" :rules
         [
          [:condi :layer_2]

          ;────────────────────────────────────────────────────────────────────────────────────────────
          ;
          ;  left side
          ;
          ; ── row 1 ───────────────────────────────────────────────────────────────────────────
           [:-q                          :escape];                              layer_2 -> q
           [:-w                          :tab];                                 layer_2 -> w
          ;[:-e                          :vk_none];                             layer_2 -> e
          ;[:-r                          :vk_none];                             layer_2 -> r
          ;[:-t                          :vk_none];                             layer_2 -> t
          ; ── row 2 ───────────────────────────────────────────────────────────────────────────
          ;[:-a                          :vk_none];                             layer_2 -> a
          ;[:-s                          :vk_none];                             layer_2 -> s
          ;[:-d                          :vk_none];                             layer_2 -> d
          ;[:-f                          :vk_none];                             layer_2 -> f
          ;[:-g                          :vk_none];                             layer_2 -> g
          ; ── row 3 ───────────────────────────────────────────────────────────────────────────
          ;[:-z                          :vk_none];                             layer_2 -> z
          ;[:-x                          :vk_none];                             layer_2 -> x
          ;[:-c                          :vk_none];                             layer_2 -> c
          ;[:-v                          :vk_none];                             layer_2 -> v
          ;[:-b                          :vk_none];                             layer_2 -> b
          ; ── row 4 ───────────────────────────────────────────────────────────────────────────
           [:-left_shift                 :left_shift];                          layer_2 -> shf
          ;[:-l2                         :vk_none];                             layer_2 -> l2   (already used by this layer)
           [:-left_command               :left_command];                        layer_2 -> cmd

          ;────────────────────────────────────────────────────────────────────────────────────────────
          ;
          ;  right side
          ;
          ; ── row 1 ───────────────────────────────────────────────────────────────────────────
          [:-y                          :return_or_enter];                     layer_2 -> y
         ;[:-u                          :vk_none];                             layer_2 -> u
         ;[:-i                          :vk_none];                             layer_2 -> i
         ;[:-o                          :vk_none];                             layer_2 -> o
          [:-p                          :delete_or_backspace];                 layer_2 -> p
          ; ── row 2 ───────────────────────────────────────────────────────────────────────────
          [:-h                          :left_arrow];                          layer_2 -> h
          [:-j                          :down_arrow];                          layer_2 -> j
          [:-k                          :up_arrow];                            layer_2 -> k
          [:-l                          :right_arrow];                         layer_2 -> l
         ;[:-quote                      :vk_none];                             layer_2 -> '
          ; ── row 3 ───────────────────────────────────────────────────────────────────────────
          [:-n                          :-f1];                                 layer_2 -> n
          [:-m                          :-f2];                                 layer_2 -> m
          [:-comma                      :-f3];                                 layer_2 -> ,
          [:-period                     :-f4];                                 layer_2 -> .
          [:-slash                      :-f5];                                 layer_2 -> /
          ; ── row 4 ───────────────────────────────────────────────────────────────────────────
          [:-left_option                :left_option];                         layer_2 -> opt
          [:-l1                         :spacebar];                            layer_2 -> l1
          [:-left_control               :left_control];                        layer_2 -> ctr

          ; ────────────────────────────────────────────────────────────────────────────────────
          ; ignore another keys
          [:any_key :vk_none]
          [:any_consumer :vk_none]
         ]}
        ;; ─────────────────────────────────────────────────────────────────────────────

        ;; ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
