{
            :des "Yabai Layers (uses Fn as base trigger)"
            :rules [
                [:fn ["fn_base" 1] nil {:afterup ["fn_base" 0] :alone :!Freturn_or_enter}]
                [:condi :fn_base :!fn_ctrl :!fn_optn :!fn_cmnd]
                    [:caps_lock [:caps_lock [:noti :caps "Caps Lock"]["capslock" 1]] [["capslock" 0]["blocked" 0]]]
                    [:!Pcaps_lock [:caps_lock [:noti :caps ""]["capslock" 0]] [["capslock" 1]["blocked" 0]]]
                    [:left_shift [["blocked" 0]["qwerty" 0]["colemak_unshifted" 1]["layer" 1]["wm_off" 0][:noti :layers "Unshifted Colemak [Fn+LCtrl]"]]["layer" 0]]
                    [:left_shift [["blocked" 0]["qwerty" 1]["colemak_unshifted" 0]["layer" 2]["wm_off" 0][:noti :layers "QWERTY w/ layers [Fn+LCtrl]"]]["layer" 1]]
                    [:left_shift [["blocked" 1]["qwerty" 1]["colemak_unshifted" 0]["layer" 3]["wm_off" 1][:noti :layers "QWERTY w/ IJKL locked to arrows [Fn+LCtrl]"]]["layer" 2]]
                    [:left_shift [["blocked" 1]["qwerty" 1]["colemak_unshifted" 0]["layer" 4]["wm_off" 1][:noti :layers "Karabiner Disabled [Fn+LCtrl]"]]["layer" 3]]
                    [:left_shift [["blocked" 0]["qwerty" 0]["colemak_unshifted" 0]["layer" 0]["wm_off" 0][:noti :layers ""]]["layer" 4]]
                    [:left_control ["fn_ctrl" 1] nil {:afterup ["fn_ctrl" 0]}]
                    [:left_option  ["fn_optn" 1] nil {:afterup ["fn_optn" 0]}]
                    [:left_command ["fn_cmnd" 1] nil {:afterup ["fn_cmnd" 0]}]
                [:condi :fn_base :!fn_ctrl :!fn_optn :!fn_cmnd]
                    ; shortcuts used by other things than Yabai
                    [:right_shift :!FSe]
                    ;
                    [:e ["fn_cmnd" 1] nil {:afterup ["fn_cmnd" 0]}]
                    [:w ["fn_optn" 1] nil {:afterup ["fn_optn" 0]}]
                    [:0 :!F0]
                    [:z :!Fz]
                    [:x :!Fx]
                    [:u :!Fu]
                    [:o :!Fo]
                    [:i :!Fi]
                    [:j :!Fj]
                    [:k :!Fk]
                    [:l :!Fl]
                    [:r :!Fr]
                    [:p :!Fp]
                    [:f :!Ff]
                    [:n :!Fm]
                    [:open_bracket :!Fopen_bracket]
                    [:close_bracket :!Fclose_bracket]
                    [:comma :!Fcomma]
                    [:period :!Fperiod]
                    [:hyphen :!Fhyphen]
                    [:spacebar :!Fspacebar]
                    [:tab :!Ftab]
                    [:equal_sign :!Fequal_sign]
                    [:hyphen :!Fhyphen]
                    [:backslash :!Fbackslash]
                    [:return_or_enter :!Freturn_or_enter]
                    [:any_key :vk_none]
                [:condi :fn_ctrl]
                    [:8 :!FT8]
                    [:9 :!FT9]
                    [:0 :!FT0]
                    [:i :!FTi]
                    [:j :!FTj]
                    [:k :!FTk]
                    [:l :!FTl]
                    [:any_key :vk_none]
                [:condi :fn_optn]
                    [:8 :!FT8]
                    [:9 :!FT9]
                    [:0 :!FT0]
                    [:i :!FOi]
                    [:j :!FOj]
                    [:k :!FOk]
                    [:l :!FOl]
                    [:any_key :vk_none]
                [:condi :fn_cmnd]
                    [:8 :!FT8]
                    [:9 :!FT9]
                    [:0 :!FT0]
                    [:i :!FCi]
                    [:j :!FCj]
                    [:k :!FCk]
                    [:l :!FCl]
                    [:any_key :vk_none]
            ]
        }