{:main [;;
;;
;; ────── simple modifications ─────────────────────────────────────────────────────────────────────
;;
        {:des "simple modifications"
         :rules
         [;;
          ;; left side
          ;;
          [:1 :q]
          [:2 :w]
          [:3 :e]
          [:4 :r]
          [:5 :t]
          ;;
          [:q :a]
          [:w :s]
          [:e :d]
          [:r :f]
          [:t :g]
          ;;
          [:a :z]
          [:s :x]
          [:d :c]
          [:f :v]
          [:g :b]
          ;;
          [:x :keypad_1]
          [:c :keypad_2]
          [:v :keypad_3]
          ;;
          ;; right side
          ;;
          [:8 :y]
          [:9 :u]
          [:0 :i]
          [:hyphen :o]
          [:equal_sign :p]
          ;;
          [:u :h]
          [:i :j]
          [:o :k]
          [:p :l]
          [:open_bracket :quote]
          ;;
          [:j :n]
          [:k :m]
          [:l :comma]
          [:semicolon :period]
          [:quote :slash]
          ;;
          [:m :keypad_4]
          [:comma :keypad_5]
          [:period :keypad_6]
          ;;
          ]}

;; ─────────────────────────────────────────────────────────────────────
        ]}