;; layers example with goku -> https://gist.github.com/gsinclair/f4ab34da53034374eb6164698a0a8ace

{;;
 ;; only map for external-keyboard Keychron K2 v2
 :devices {:external-keyboard [{:product_id 591 :vendor_id 1452}]}
 ;;
 :simlayers {:f-mode {:key :f}    ; delimeters    ( ) [ ] { } and other symbols ~ $ &
             }
 ;;
 :main [;;

        ;; with all swap the layer not working
        ;; TODO: find a way to make layer working with swap

        ;; ;;
        ;; {:des "swap all keys on keychron k2 v2" :rules
        ;;  [:external-keyboard
        ;;   ;;
        ;;   ;; left side
        ;;   ;;
        ;;   [:1 :q]
        ;;   [:2 :w]
        ;;   [:3 :e]
        ;;   [:4 :r]
        ;;   [:5 :t]
        ;;   ;;
        ;;   [:q :a]
        ;;   [:w :s]
        ;;   [:e :d]
        ;;   [:r :f]
        ;;   [:t :g]
        ;;   ;;
        ;;   [:a :z]
        ;;   [:s :x]
        ;;   [:d :c]
        ;;   [:f :v]
        ;;   [:g :b]
        ;;   ;;
        ;;   [:x :keypad_1]
        ;;   [:c :keypad_2]
        ;;   [:v :keypad_3]
        ;;   ;;
        ;;   ;; right side
        ;;   ;;
        ;;   [:8 :y]
        ;;   [:9 :u]
        ;;   [:0 :i]
        ;;   [:hyphen :o]
        ;;   [:equal_sign :p]
        ;;   ;;
        ;;   [:u :h]
        ;;   [:i :j]
        ;;   [:o :k]
        ;;   [:p :l]
        ;;   [:open_bracket :quote]
        ;;   ;;
        ;;   [:j :n]
        ;;   [:k :m]
        ;;   [:l :comma]
        ;;   [:semicolon :period]
        ;;   [:quote :slash]
        ;;   ;;
        ;;   [:m :keypad_4]
        ;;   [:comma :keypad_5]
        ;;   [:period :keypad_6]
        ;;   ;;
        ;;   ]}
        ;; ;;

        ;;
        {:des "f-mode for delimeters and ! ? $"
         :rules [:f-mode
                 ;; u i j k m comma -> !Sopen_bracket !Sclose_bracket !S9 !S0 open_bracket close_bracket
                 [:##u :!Sopen_bracket]
                 [:##i :!Sclose_bracket]
                 [:##j :!S9]
                 [:##k :!S0]
                 [:##m :open_bracket]
                 [:##comma :close_bracket]
                 ;; o l period -> !S1 !Sslash !S4
                 [:##o :!S1]
                 [:##l :!Sslash]
                 [:##period :!S4]]}
        ;;
        ]}