                 ;────────────────────────────────────────────────────────────────────────────────────────────
                 ;
                 ;  left side
                 ;
                 ; ── row 1 ───────────────────────────────────────────────────────────────────────────
                 [:##1                   :vk_none] ;            x -> q              ---------
                 [:##2                   :vk_none] ;            x -> w              ---------
                 [:##3                   :vk_none] ;            x -> e              ---------
                 [:##4                   :vk_none] ;            x -> r              ---------
                 [:##5                   :vk_none] ;            x -> t              ---------
                 ; ── row 2 ───────────────────────────────────────────────────────────────────────────
                 [:##q                   :vk_none] ;            x -> a              ---------
                 [:##w                   :vk_none] ;            x -> s              ---------
                 [:##e                   :vk_none] ;            x -> d              ---------
                 [:##r                   :vk_none] ;            x -> f              ---------
                 [:##t                   :vk_none] ;            x -> g              ---------
                 ; ── row 3 ───────────────────────────────────────────────────────────────────────────
                 [:##a                   :vk_none] ;            x -> z              ---------
                 [:##s                   :vk_none] ;            x -> x              ---------
                 [:##d                   :vk_none] ;            x -> c              ---------
                 [:##f                   :vk_none] ;            x -> v              ---------
                 [:##g                   :vk_none] ;            x -> b              ---------
                 ; ── row 4 ───────────────────────────────────────────────────────────────────────────
                 [:##x                   :vk_none] ;            x -> layer-1        ---------
                 [:##c                   :vk_none] ;            x -> layer-2        ---------
                 [:##v                   :vk_none] ;            x -> layer-3        ---------
                 ; ────────────────────────────────────────────────────────────────────────────────────
                 ;
                 ;  right side
                 ;
                 ; ── row 1 ───────────────────────────────────────────────────────────────────────────
                 [:##8                   :vk_none] ;            x -> y              ---------
                 [:##9                   :vk_none] ;            x -> u              ---------
                 [:##0                   :vk_none] ;            x -> i              ---------
                 [:##hyphen              :vk_none] ;            x -> o              ---------
                 [:##equal_sign          :vk_none] ;            x -> p              ---------
                 ; ── row 2 ───────────────────────────────────────────────────────────────────────────
                 [:##u                   :vk_none] ;            x -> h              ---------
                 [:##i                   :vk_none] ;            x -> j              ---------
                 [:##o                   :vk_none] ;            x -> k              ---------
                 [:##p                   :vk_none] ;            x -> l              ---------
                 [:##open_bracket        :vk_none] ;            x -> '              ---------
                 ; ── row 3 ───────────────────────────────────────────────────────────────────────────
                 [:##j                   :vk_none] ;            x -> n              ---------
                 [:##k                   :vk_none] ;            x -> m              ---------
                 [:##l                   :vk_none] ;            x -> ,              ---------
                 [:##semicolon           :vk_none] ;            x -> .              ---------
                 [:##quote               :vk_none] ;            x -> /              ---------
                 ; ── row 4 ───────────────────────────────────────────────────────────────────────────
                 [:##m                   :vk_none] ;            x -> layer-4        ---------
                 [:##comma               :vk_none] ;            x -> layer-5        ---------
                 [:##period              :vk_none] ;            x -> layer-6        ---------
                 ; ────────────────────────────────────────────────────────────────────────────────────────────